[Unit]
Description=ChristmasSocks Remote Server Management Software

[Service]
Type=simple
Restart=always
RestartSec=1
User=username
ExecStart=execstart

[Install]
WantedBy=multi-user.target
